<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
  <connectionStrings>
    <add name="cadena_conexion" connectionString="Data Source=DESKTOP-D5A7RC7\AWAKATESQL;Initial Catalog=PROYECTO_EZ_STOCK;Persist Security Info=True;User ID=sa;password=Awakate+m" providerName="System.Data.SqlClient"
         />
  </connectionStrings>
</configuration>